Repository totallynotdavid/image-generation: changes, and which Codecov flags are due for each by the changed paths.
All: Core, Plugins, Transforms, Validation, Types, Assets, Utils, Main

codecov.yaml:

comment:
    layout: 'condensed_header, diff, flags, components, condensed_files, condensed_footer'
    behavior: default
    require_base: true
    require_head: true
    hide_project_coverage: false

component_management:
    default_rules:
        statuses:
            - type: project
              target: auto
              branches:
                  - '!master'
    individual_components:
        - component_id: core
          name: Core
          paths:
              - src/core/**
              - tests/core/**
          statuses:
              - type: project
                target: auto
              - type: patch
                target: auto

        - component_id: plugins
          name: Plugins
          paths:
              - src/plugins/**
              - tests/plugins/**

        - component_id: transforms
          name: Transforms
          paths:
              - src/transforms/**
              - tests/transforms/**

        - component_id: validation
          name: Validation
          paths:
              - src/validation/**
              - tests/validation/**

        - component_id: types
          name: Types
          paths:
              - src/types/**

        - component_id: assets
          name: Assets
          paths:
              - src/assets/**
              - assets/**

        - component_id: utils
          name: Utils
          paths:
              - utils/**

        - component_id: main
          name: Main
          paths:
              - src/index.ts
              - src/errors.ts
              - tests/index.test.ts

fix: update dev:example task to include --allow-net for network access
  deno.json
Due: none

refactor: rename WEBP signature constants and simplify WebP validation logic
  src/utils.ts
Due: none

refactor: introduce throwProcessingError utility for consistent error handling in transforms
  src/errors.ts
  src/index.ts
  src/transforms/blink.ts
  src/transforms/circle.ts
  src/transforms/color.ts
  src/transforms/greyscale.ts
Due: Transforms, Main

fix: enhance error handling in validateImageFormat and loadImage functions
  src/utils.ts
Due: none

fix: update test command and add @std/encoding dependency
  deno.json
  deno.lock
Due: none

new tests
  tests/_setup.ts
  tests/core/asset-resolver.test.ts
  tests/core/processor.test.ts
  tests/index.test.ts
  tests/plugins/index.test.ts
  tests/tests/errors.test.ts
  tests/transforms/blink.test.ts
  tests/transforms/circle.test.ts
  tests/transforms/color.test.ts
  tests/transforms/greyscale.test.ts
  tests/utils.test.ts
  tests/validation/schemas.test.ts
  tests/validation/utils.test.ts
Due: Core, Plugins, Transforms, Validation, Main

fix: update deno.lock to include @std/encoding@0.224.3 and modify test asset content
  deno.lock
  tests/_setup.ts
  tests/transforms/blink.test.ts
Due: Transforms

clean
  tests/_utils.ts
Due: none

clean start
  tests/_setup.ts
Due: none

cleaning up
  deno.json
  tests/_setup.ts
  tests/integration.test.ts
  tests/performance.test.ts
  tests/transforms/blink.test.ts
  tests/transforms/circle.test.ts
  tests/transforms/color.test.ts
  tests/transforms/greyscale.test.ts
  tests/utils.test.ts
Due: Transforms

fixes
  .gitignore
  deno.json
Due: none

move up
  deno.json
Due: none

refactor: improve error handling in blink and greyscale functions
  src/transforms/blink.ts
  src/transforms/greyscale.ts
Due: Transforms

passing 66/67
  src/transforms/circle.ts
Due: Transforms

123456 is valid hex
  tests/transforms/circle.test.ts
Due: Transforms

refactor: update build configuration and remove package.json
  build_npm.ts
  deno.lock
  package.json
Due: none

fix: update clean task to remove coverage directory
  deno.json
Due: none

refactor: remove packageManager and devDependencies from build configuration
  build_npm.ts
Due: none

ci(deno.json): reorder imports and tasks by hierarchy
  deno.json
Due: none

update readme
  readme.md
Due: none

typo
  readme.md
Due: none

docs: mixed with the old one
  readme.md
Due: none

docs(readme): update docs for clearer usage with the new architecture (#50)
  readme.md
Due: none

improve logging and comments for clarity in asset management
  tests/_setup.ts
Due: none

finetune values for performance
  tests/integration.test.ts
  tests/performance.test.ts
  tests/utils.test.ts
Due: none

fix(tests): remove unnecessary whitespace in directory creation
  tests/_setup.ts
Due: none

refactor(circle): remove maximum image size checks for improved flexibility, service parent should handle this
  src/transforms/circle.ts
Due: Transforms

refactor(blink): replace resize method with fit for better image handling
  src/transforms/blink.ts
Due: Transforms

refactor(types): unify options structure for image processing parameters
  src/types.ts
  src/utils.ts
Due: none

refactor(color): streamline color transformation logic and enhance blend mode handling
  src/transforms/color.ts
Due: Transforms

clean up, add baseTransforms
  src/transforms/blink.ts
Due: Transforms

refactor(greyscale): enhance image processing by applying base transforms before grayscale conversion
  src/transforms/greyscale.ts
Due: Transforms
