Repository totallynotdavid/image-generation: changes, and which Codecov flags are due for each by the changed paths.
All: Core, Plugins, Transforms, Validation, Types, Assets, Utils, Main

add base transforms
  src/transforms/circle.ts
Due: Transforms

test(circle): remove redundant test
  tests/transforms/circle.test.ts
Due: Transforms

chore: delete useless comments and improve
  tests/transforms/blink.test.ts
  tests/transforms/circle.test.ts
  tests/transforms/color.test.ts
Due: Transforms

fix(tests): update performance threshold for transforms in CI environment
  tests/performance.test.ts
Due: none

test: clean up descriptions, tighten performance thresholds (#52)
  tests/_setup.ts
  tests/integration.test.ts
  tests/performance.test.ts
  tests/transforms/blink.test.ts
  tests/transforms/circle.test.ts
  tests/transforms/color.test.ts
  tests/utils.test.ts
Due: Transforms

feat(transforms): add base TransformOptions system with standardized resizing and refactor core transforms (#53)
  src/transforms/blink.ts
  src/transforms/circle.ts
  src/transforms/color.ts
  src/transforms/greyscale.ts
  src/types.ts
  src/utils.ts
Due: Transforms

refactor(workflows): standardize workflow names and simplify steps in CodeQL, Deno, and Publish workflows
  .github/workflows/codeql.yml
  .github/workflows/deno.yml
  .github/workflows/publish.yml
Due: none

fix(workflows): correct spelling of "success" in Codecov step comment
  .github/workflows/deno.yml
Due: none

fix(workflows): update paths in CodeQL workflow to include file patterns
  .github/workflows/codeql.yml
Due: none

fix(workflows): specify test directory in Deno test command
  .github/workflows/deno.yml
Due: none

ci: refine GitHub Actions workflows with scoped triggers, simplified steps, and updated environments (#54)
  .github/workflows/codeql.yml
  .github/workflows/deno.yml
  .github/workflows/publish.yml
Due: none

refactor: add loadImageFromInput in transforms and utils to handle buffers and string paths
  src/index.ts
  src/transforms/blink.ts
  src/transforms/circle.ts
  src/transforms/color.ts
  src/transforms/greyscale.ts
  src/types.ts
  src/utils.ts
Due: Transforms, Main

refactor: remove simple caching as that should be handled by the parent
  src/utils.ts
Due: none

refactor(blink): simplify image loading and frame creation logic
  src/transforms/blink.ts
Due: Transforms

normalization upfront / preallocated arrays / separation of concerns
  src/transforms/blink.ts
Due: Transforms

refactor(color): enhance tint handling by consolidating tint properties and improving soft light blending
  src/transforms/color.ts
Due: Transforms

refactor(circle): optimize border drawing logic by replacing drawCircle with fill method for better performance
  src/transforms/circle.ts
Due: Transforms

refactor(blink): remove maxConcurrent option from BlinkOptions interface
  src/types.ts
Due: none

refactor: streamline error handling and image loading across transforms
  example/output/circle-border.png
  src/errors.ts
  src/index.ts
  src/transforms/blink.ts
  src/transforms/circle.ts
  src/transforms/color.ts
  src/transforms/greyscale.ts
  src/types.ts
  src/utils.ts
Due: Transforms, Main

Refactor performance and transform tests to use structured test steps and improve asset management
  tests/_setup.ts
  tests/errors.test.ts
  tests/integration.test.ts
  tests/performance.test.ts
  tests/transforms/blink.test.ts
  tests/transforms/circle.test.ts
  tests/transforms/color.test.ts
  tests/transforms/greyscale.test.ts
  tests/utils.test.ts
Due: Transforms

refactor(main): simplify parameter structure for color, blink, and circle functions
  example/main.ts
Due: none

refactor(tests): update import paths to use absolute paths for circle, color, and greyscale tests
  tests/transforms/circle.test.ts
  tests/transforms/color.test.ts
  tests/transforms/greyscale.test.ts
Due: Transforms

refactor(tests): remove obsolete error and performance test files
  tests/errors.test.ts
  tests/performance.test.ts
Due: none

refactor(tests): restructure blink tests for clarity and consistency
  tests/transforms/blink.test.ts
Due: Transforms

refactor(tests): add comments to clarify image dimensions in blink tests
  tests/transforms/blink.test.ts
Due: Transforms

refactor(tests): improve clarity and structure of circle transformation tests
  tests/transforms/circle.test.ts
Due: Transforms

refactor(color): scale hue to degrees for HSL conversion in color transform
  src/transforms/color.ts
Due: Transforms

refactor(tests): enhance structure and clarity of color transformation tests
  tests/transforms/color.test.ts
Due: Transforms

refactor(tests): restructure greyscale tests for improved clarity and organization
  tests/transforms/greyscale.test.ts
Due: Transforms

refactor(tests): streamline integration tests for improved readability and organization
  tests/integration.test.ts
Due: none

refactor(tests): improve structure and clarity of utils tests
  tests/utils.test.ts
Due: none

refactor(tests): remove unnecessary sanitization options from blink and circle tests
  tests/transforms/blink.test.ts
  tests/transforms/circle.test.ts
Due: Transforms

feat: simplify API by removing options nesting and unifying image input handling (#55)
  example/main.ts
  example/output/circle-border.png
  src/errors.ts
  src/index.ts
  src/transforms/blink.ts
  src/transforms/circle.ts
  src/transforms/color.ts
  src/transforms/greyscale.ts
  src/types.ts
  src/utils.ts
  tests/_setup.ts
  tests/integration.test.ts
  tests/performance.test.ts
  tests/transforms/blink.test.ts
  tests/transforms/circle.test.ts
  tests/transforms/color.test.ts
  tests/transforms/greyscale.test.ts
  tests/utils.test.ts
Due: Transforms, Main

docs(readme): update package header for clarity
  readme.md
Due: none

docs(readme): clarify package limitations and intended use cases
  readme.md
Due: none

docs(readme): clarify package scope and non-responsibilities (#56)
  readme.md
Due: none

refactor: replace unstable writeFile with Deno.writeFile and remove commented-out dynamic transform code
  example/main.ts
Due: none

refactor: replace unstable writeFile with Deno.writeFile and remove commented-out dynamic transform code (#57)
  example/main.ts
Due: none

feat(color): enhance blending by incorporating opacity into final color calculations
  src/transforms/color.ts
Due: Transforms

test: fix expected RGBA values in color and greyscale transform tests
  tests/integration.test.ts
Due: none

Path conditions:
  Core: any of: src/core/**, tests/core/**
  Plugins: any of: src/plugins/**, tests/plugins/**
  Transforms: any of: src/transforms/**, tests/transforms/**
  Validation: any of: src/validation/**, tests/validation/**
  Types: any of: src/types/**
  Assets: any of: src/assets/**, assets/**
  Utils: any of: utils/**
  Main: any of: src/index.ts, src/errors.ts, tests/index.test.ts
