Repository totallynotdavid/image-generation: changes, and which Codecov flags are due for each by the changed paths.
All: Core, Plugins, Transforms, Validation, Types, Assets, Utils, Main

codecov.yaml:

comment:
    layout: 'condensed_header, diff, flags, components, condensed_files, condensed_footer'
    behavior: default
    require_base: true
    require_head: true
    hide_project_coverage: false

component_management:
    default_rules:
        statuses:
            - type: project
              target: auto
              branches:
                  - '!master'
    individual_components:
        - component_id: core
          name: Core
          paths:
              - src/core/**
              - tests/core/**
          statuses:
              - type: project
                target: auto
              - type: patch
                target: auto

        - component_id: plugins
          name: Plugins
          paths:
              - src/plugins/**
              - tests/plugins/**

        - component_id: transforms
          name: Transforms
          paths:
              - src/transforms/**
              - tests/transforms/**

        - component_id: validation
          name: Validation
          paths:
              - src/validation/**
              - tests/validation/**

        - component_id: types
          name: Types
          paths:
              - src/types/**

        - component_id: assets
          name: Assets
          paths:
              - src/assets/**
              - assets/**

        - component_id: utils
          name: Utils
          paths:
              - utils/**

        - component_id: main
          name: Main
          paths:
              - src/index.ts
              - src/errors.ts
              - tests/index.test.ts

ci(codecov): update Codecov configuration to enhance layout comment
  codecov.yaml
Due: none

ci(codecov): add configuration file for Codecov (#8)
  codecov.yaml
Due: none

build(deno.json): update project metadata with name and exports field
  deno.json
Due: none

pub(dependencies): explicitely constrain npm packages
  src/transforms/blink.ts
  src/transforms/circle.ts
  src/transforms/color.ts
  src/transforms/greyscale.ts
  tests/index.test.ts
  tests/transforms/blink.test.ts
  tests/transforms/circle.test.ts
  tests/transforms/color.test.ts
  tests/transforms/greyscale.test.ts
Due: Transforms, Main

chore(dependencies): add explicit version entries for npm packages in deno.lock
  deno.lock
Due: none

chore(dependencies): update package imports to specific versions for consistency
  build_npm.ts
  deno.lock
  example/main.ts
  src/core/asset-resolver.ts
  tests/core/asset-resolver.test.ts
  tests/index.test.ts
  tests/transforms/blink.test.ts
  tests/transforms/circle.test.ts
  tests/transforms/color.test.ts
  tests/transforms/greyscale.test.ts
  tests/validation/utils.test.ts
Due: Core, Transforms, Validation, Main

chore(dependencies): update import statements to use specific version of @std/assert for consistency
  tests/core/processor.test.ts
  tests/plugins/index.test.ts
  tests/tests/errors.test.ts
  tests/validation/schemas.test.ts
Due: Core, Plugins, Validation

chore(dependencies): use specific package versions in deno.json and package.json for consistency
  deno.json
  package.json
Due: none

docs(readme): update package title with JSR badge for visibility
  readme.md
Due: none

update build_npm.ts to use latest import syntax and update deno.json to include additional publish settings and linting paths
  build_npm.ts
  deno.json
  deno.lock
Due: none

chore(dependencies): update import statements to use latest package syntax for consistency
  src/core/asset-resolver.ts
  tests/core/asset-resolver.test.ts
  tests/core/processor.test.ts
  tests/index.test.ts
  tests/plugins/index.test.ts
  tests/tests/errors.test.ts
  tests/transforms/blink.test.ts
  tests/transforms/circle.test.ts
  tests/transforms/color.test.ts
  tests/transforms/greyscale.test.ts
  tests/validation/schemas.test.ts
  tests/validation/utils.test.ts
Due: Core, Plugins, Transforms, Validation, Main

chore(imports): use single quotes
  build_npm.ts
Due: none

fix(build): using @std/fs/exists fixes the build for node
  build_npm.ts
  src/core/asset-resolver.ts
Due: Core

chore(dependencies): add @types/node@22.12.0 and update undici-types versions in deno.lock
  deno.lock
Due: none

chore(dependencies): upgrade @types/node to 22.14.0
  build_npm.ts
  deno.lock
  package.json
Due: none

bump(version): building with npm is now passing
  deno.json
  package.json
Due: none

fix(build_npm): import directly in asset-resolver (from @std/fs to @std/fs/exists) (#9)
  build_npm.ts
  deno.json
  deno.lock
  package.json
  readme.md
  src/core/asset-resolver.ts
  tests/core/asset-resolver.test.ts
  tests/index.test.ts
  tests/transforms/blink.test.ts
  tests/transforms/circle.test.ts
  tests/transforms/color.test.ts
  tests/transforms/greyscale.test.ts
  tests/validation/schemas.test.ts
  tests/validation/utils.test.ts
Due: Core, Transforms, Validation, Main

publish(ci): add workflow for publishing to npm and jsr on release
  .github/workflows/publish.yml
Due: none

docs(readme): add npm version badge for improved visibility
  readme.md
Due: none

chore(ci): update GitHub Actions workflow to use actions/checkout@v4 and switch from npx jsr publish to deno publish
  .github/workflows/publish.yml
Due: none

chore(deno.json): update publish settings to exclude src/assets from inclusion
  deno.json
Due: none

docs(readme): avoid use of title case on section titles
  readme.md
Due: none

docs(readme): avoid use of title case on section titles (#17)
  readme.md
Due: none

chore(deps): add types for gifencoder
  deno.lock
  package.json
Due: none

fix(sharp): update test command to include --allow-env
  deno.json
  deno.lock
Due: none

refactor(asset-resolver): lazy base path init and simplified path resolution logic
  src/core/asset-resolver.ts
Due: Core

chore(deps): update dependencies to latest versions
  deno.lock
  package.json
Due: none

chore(deps): update dependencies to latest versions (#48)
  deno.lock
  package.json
Due: none

cleaning up the plugin system as it causes too much delay
  example/main.ts
  example/output/blink-animation.gif
  example/output/circle-border.png
  src/assets/fonts/Noto-Emoji.ttf
  src/assets/fonts/Noto-Regular.ttf
  src/core/asset-resolver.ts
  src/core/processor.ts
  src/errors.ts
  src/index.ts
  src/plugins/index.ts
  src/plugins/register-built-ins.ts
  src/transforms/blink.ts
  src/transforms/circle.ts
  src/transforms/color.ts
  src/transforms/greyscale.ts
  src/types.ts
  src/types/transforms.ts
  src/utils.ts
  src/validation/schemas.ts
  src/validation/utils.ts
Due: Core, Plugins, Transforms, Validation, Types, Assets, Main

use loop for faster perf + move variables out of the loop
  src/transforms/blink.ts
Due: Transforms

add imagescript to circle.ts
  deno.json
  deno.lock
  example/output/blink-animation.gif
  example/output/circle-border.png
  src/transforms/circle.ts
Due: Transforms

refactor(greyscale): replace sharp with imagescript for grayscale transformation feat(utils): add support for WEBP format and implement loadImage function
  src/transforms/greyscale.ts
  src/utils.ts
Due: Transforms

move away from sharp in color transform
  deno.json
  deno.lock
  example/main.ts
  src/transforms/color.ts
  src/types.ts
  src/utils.ts
Due: Transforms

remove custom parsehex function
  deno.lock
  example/output/greyscale.png
  example/output/red-overlay.png
  example/output/red-tint.png
  example/output/white-overlay.png
  src/errors.ts
  src/index.ts
  src/transforms/circle.ts
  src/utils.ts
Due: Transforms, Main

chore: update dependencies for @std/fs and @std/path to latest versions
  deno.json
  deno.lock
  example/main.ts
Due: none

refactor(blink): replace sharp with imagescript for GIF creation
  example/main.ts
  example/output/blink-animation.gif
  src/transforms/blink.ts
Due: Transforms

Remove unused dependencies: canvas, gifencoder, and sharp from package.json
  .github/workflows/deno.yml
  build_npm.ts
  deno.lock
  package.json
Due: none

refactor: streamline image encoding in blink, circle, color, and greyscale transforms
  src/transforms/blink.ts
  src/transforms/circle.ts
  src/transforms/color.ts
  src/transforms/greyscale.ts
Due: Transforms

refactor: enforce non-negative duration and border width in blink and circle transforms
  src/transforms/blink.ts
  src/transforms/circle.ts
  src/transforms/color.ts
  src/utils.ts
Due: Transforms

refactor: move MIN_FILE_SIZE constant declaration for better readability
  src/utils.ts
Due: none
